button.OutlineButton{
  --bg: none;
  --bg-hover: #efe5fd;
  --bg-active: #d4bff9;
  background: var(--bg);
  &:hover {
    background: var(--bg-hover);
  }
  &:active {
    background: var(--bg-active);
  }
}