button.WideButton {
  --bg: rgb(45, 9, 172);
  --bg-hover: #6002ee;
  --color: white;

  flex-grow: 1;
  background: var(--bg);
  color: var(--color);
  padding: 1em;
  &:active {
    background: var(--bg-hover);
    transform: translate(0px, 2px);
  }
  transition: cubic-bezier(0, 0.5, 0.175, 1);
}
